* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.header {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.page-body {
    padding: 30px 50px;
}

.sidebar {
    background-color: #2c323e;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 230px;
    z-index: 1000;
}

.sidebar-inner {
    position: relative;
    height: 100%;
    overflow: auto;
}

.sidebar-inner .title {
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 20px 35px;
    text-align: center;
}

.page-container {
    padding-left: 230px;
}

.sidebar-menu {
    list-style-type: none;
    padding:0;
    border-top: 1px solid #333a48;
}

.sidebar-menu li a {
    display: block;
    border-left: 4px solid transparent;
    border-bottom: 1px solid #333a48;
    font-size: 14px;
    line-height: 40px;
    padding: 0 25px;
}

.sidebar-menu li.selected a {
    background-color: #252c36;
    border-left: 4px solid #04affd;
}

.sidebar-menu li.selected a,
.sidebar-menu li.selected span {
    color: #04affd;
}

.sidebar-menu li span {
    margin-right: 20px;
    font-size: 18px;
    vertical-align: middle;
    color: #4a515f;
}

.sidebar-menu li a {
    color:#fff;
}

.sidebar-menu li a:hover {
    background-color: #252c36;
    border-left-color: #51c0f3;
    text-decoration: none;
}

.sidebar-menu li a:hover span.oi {
    color:#a5a3a3;
}

.btn.btn-red {
    background-color:#ff3939;
    color:#fff;
}

.btn span.oi {
    font-size: 11px;
    vertical-align: top;
}

table.table {
    background: #fff;
    border: 1px solid #e4e4e4;
    font-size:14px;
}

table.table td {
    vertical-align:middle;
}

.bold {
    font-weight: bold;
}

.btn[type="submit"] span.oi {
    vertical-align: middle;
    font-size:13px;
}

h3.title {
    border-bottom:1px solid #eaeaea;
    padding-bottom:15px;
    margin-bottom:15px;
}

h3.title span {
    font-size:20px;
    color:#ccc;
}