* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
}

.sidebar {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 1000;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
}

.sidebar-inner {
    position: relative;
    height: 100%;
}

.page-container {
    min-height: 100vh;
    padding-left: 280px;
}

.sidebar-menu {
    list-style-type: none;
}

.sidebar-menu li {
    font-weight: 500;
    padding: 10px 0px;
}